a[href="https://kline147.github.io/tgrl.github.io/"] {
    display: none !important;
}
/* 行容器样式 */
.row-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

/* GIF 部分容器样式 */
.gif-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* GIF 行样式 */
.gif-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* 单个 GIF 样式 */
.single-gif {
    width: 50%;
    height: auto;
}

/* 视频部分容器样式 */
.video-section {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 单个视频样式 */
.single-video {
    width: 80%; /* 可按需调整视频宽度 */
    height: auto;
    margin-bottom: 10px;
}

/* 定义实验部分标题样式 */
.experiment-title {
    background-color: #c6d2ff;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 24px;
    margin-top: 20px;
}

/* 定义机械臂部分标题样式 */
.arm-title {
    font-size: 20px;
    margin-top: 20px;
}
